* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  background-color: #bbd9ff;
  padding-bottom: 20px;
}

header .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-content .title {
  padding: 20px 0;
  width: 10%;
}

header .header-content .title a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

header .header-content .title a img {
  width: 100%;
}

header .header-content .title a h1 {
  color: black;
  font-size: 28px;
}

header .header-content .navbar-list li {
  list-style-type: none;
  display: inline-block;
  padding-right: 20px;
}

header .header-content .navbar-list li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.main-title {
  text-align: center;
  padding: 30px 0;
}

.travel-package {
  width: 80%;
  margin: 20px auto;
  position: relative;
}

.travel-package .image {
  position: relative;
}

.travel-package .image img {
  width: 100%;
}

.travel-package .image .layover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.travel-package .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.travel-package .info a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.travel-package .info a:hover {
  transform: scale(1.5);
}

.travel-title {
  font-size: 30px;
  padding: 10px 0;
}

.package-container {
  display: flex;
  margin-top: 10px;
}

.package-container .details-container {
  padding: 20px 10px;
}

.package-container .details-container h3 {
  margin-bottom: 20px;
  font-size: 30px;
}

.package-container .details-container .details {
  font-size: 20px;
}

.package-container .details-container .details div {
  padding: 5px 0;
}

.package-container .details-container .details .price {
  text-align: right;
  margin-top: 30px;
  font-size: 40px;
}

